<table class='table table-striped container-fluid' id='show-table'>
  <thead>
    <tr>
      <th scope='col'>Article</th>
      <th scope='col'>Amount</th>

      {{#if (should-display-column @company 'targets')}}
        <th scope='col'>Place</th>
      {{/if}}

      {{#if (should-display-column @company 'note')}}
        <th scope='col' {{! data-test-company-note }}>Note</th>
      {{/if}}

      <th scope='col'>Date of order</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.isActiveOrders as |order index|}}
      <tr>
        <td data-test-order-article={{index}}>{{order.article}}</td>

        <td data-test-order-count={{index}}>{{order.count}} {{order.unit}}</td>
        {{#if (should-display-column @company 'targets')}}
          <td data-test-order-place={{index}}>{{order.targets}}</td>
        {{/if}}
        {{#if (should-display-column @company 'note')}}
          <td data-test-order-notes={{index}}>{{order.note}}</td>
        {{/if}}

        <td data-test-order-date={{index}}>
          {{#if order.isOrdered}}
            {{moment-format order.createdDate 'DD-MM-YYYY'}}
          {{/if}}
        </td>

        <td>
          <div class='form-check'>
            {{#if order.isOrdered}}
              <Shared::Input
                class='form-check-input'
                @type='checkbox'
                @value=''
                @checked={{order.createdDate}}
                @onChange={{fn this.onDateOrdered order}}
                disabled
              />
            {{else}}
              <Shared::Input
                class='form-check-input'
                @type='checkbox'
                @value=''
                @checked={{order.createdDate}}
                @onChange={{fn this.onDateOrdered order}}
              />
            {{/if}}
          </div>
        </td>

        <div class='input-group-sm' id='edit'>
          <td>
            <Shared::Button
              @faIcon='pen-to-square'
              @onClick={{fn this.onShowModal order}}
            />
          </td>
          <td>
            <Shared::Button
              @faIcon='box-archive'
              @onClick={{fn this.onArchive order}}
            />
          </td>
          <td>
            <Shared::Button
              @faIcon='trash-can'
              @onClick={{fn this.onDeleted order}}
            />
          </td>
        </div>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.isShowModal}}
  <TableCompany::ShowTable::Modal
    @order={{this.selectedOrderToEdit}}
    @onClose={{this.onHideModal}}
    @company={{@company}}
  />
{{/if}}