{{! <div class='container-fluid'> }}
<table class='table table-striped container-fluid'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Miejsce</th>
      <th scope='col'>Note</th>
      <th scope='col'>Data zamówienia</th>
    </tr>
  </thead>
  <tbody>
    {{#each @company.orders as |order|}}
      <tr>
        <td>{{order.article}}</td>
        <td>{{order.count}} {{order.unit}}</td>
        <td>{{order.targets}}</td>
        <td>{{order.note}}</td>
        {{#if order.isOrdered}}
          <td>{{moment-format order.createdDate 'DD-MM-YYYY'}}</td>
        {{else}}
          <td></td>

        {{/if}}

        <td><div class='form-check'>
            {{#if order.isOrdered}}
              <input
                id='flexCheckDefault'
                class='form-check-input'
                type='checkbox'
                value=''
                checked={{order.createdDate}}
                {{on 'click' (fn this.onDateOrdered order)}}
                disabled
              />
            {{else}}
              <input
                id='flexCheckDefault'
                class='form-check-input'
                type='checkbox'
                value=''
                checked={{order.createdDate}}
                {{on 'click' (fn this.onDateOrdered order)}}
              />
            {{/if}}
          </div></td>
        <div class='input-group-sm'>
          <td>
            <button
              class='btn btn-primary'
              type='button'
              {{on 'click' (fn this.onShowModal order)}}
            ><FaIcon @icon='pen-to-square' /></button>
          </td>
          <td>
            <button
              class='btn'
              type='button'
              {{on 'click' (fn this.onDeleted order)}}
            ><FaIcon @icon='trash-can' /></button>
          </td></div>
      </tr>
    {{/each}}
  </tbody>
</table>
{{! </div> }}

{{#if this.isShowModal}}
  <TableCompany::ShowTable::Modal
    @order={{this.selectedOrderToEdit}}
    @onClose={{this.onHideModal}}
  />
{{/if}}