<table class='table table-striped container-fluid' id='show-table'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>

      {{#if (should-display-column @company 'targets')}}
        <th scope='col'>Miejsce</th>
      {{/if}}

      {{#if (should-display-column @company 'note')}}
        <th scope='col'>Note</th>
      {{/if}}

      <th scope='col'>Data zamówienia</th>
    </tr>
  </thead>
  <tbody>
    {{#each @company.orders as |order|}}
      <tr>
        <td>{{order.article}}</td>

        <td>{{order.count}} {{order.unit}}</td>
        {{#if (should-display-column @company 'targets')}}
          <td>{{order.targets}}</td>
        {{/if}}
        {{#if (should-display-column @company 'note')}}
          <td>{{order.note}}</td>
        {{/if}}

        <td>
          {{#if order.isOrdered}}
            {{moment-format order.createdDate 'DD-MM-YYYY'}}
          {{/if}}
        </td>

        <td>
          <div class='form-check'>
            {{#if order.isOrdered}}
              <input
                id='flexCheckDefault'
                class='form-check-input'
                type='checkbox'
                value=''
                checked={{order.createdDate}}
                {{on 'click' (fn this.onDateOrdered order)}}
                disabled
              />
            {{else}}
              <input
                id='flexCheckDefault'
                class='form-check-input'
                type='checkbox'
                value=''
                checked={{order.createdDate}}
                {{on 'click' (fn this.onDateOrdered order)}}
              />
            {{/if}}
          </div>
        </td>

        <div class='input-group-sm' id='edit'>
          <td>
            <button
              class='btn'
              type='button'
              {{on 'click' (fn this.onShowModal order)}}
            ><FaIcon @icon='pen-to-square' /></button>
          </td>
          <td>
            <button
              class='btn'
              type='button'
              {{on 'click' (fn this.onDeleted order)}}
            ><FaIcon @icon='trash-can' /></button>
          </td>
          <td>
            <button
              class='btn'
              type='button'
              {{on 'click' (fn this.onArchive order)}}
            >
              <FaIcon @icon='box-archive' />
            </button>
          </td>
        </div>
      </tr>
    {{/each}}
  </tbody>
</table>
{{! </div> }}

{{#if this.isShowModal}}
  <TableCompany::ShowTable::Modal
    @order={{this.selectedOrderToEdit}}
    @onClose={{this.onHideModal}}
    @company={{@company}}
  />
{{/if}}