<ModalDialog @translucentOverlay={{true}} @onClickOverlay={{this.onClose}}>
  <div class='container'>

    <thead>
      <tr>
        <th scope='col'>Articles</th>
        <th scope='col'>Amount</th>
        {{#if (should-display-column @company 'targets')}}
          <th scope='col'>Company</th>
        {{/if}}

        {{#if (should-display-column @company 'note')}}
          <th scope='col'>Note</th>
        {{/if}}
        <th scope='col'>Date of order</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <label for='username' class='col-sm-2 col-form-label'>
          </label>
          <div class='col-sm-10'>
            <Shared::InputDisabled
              @type='text'
              @placeholder='Article'
              @value={{@order.article}}
              disabled
            />
          </div>
        </td>
        <td>
          <label for='username' class='col-sm-2 col-form-label'>
          </label>
          <div class='col-sm-10'>
            <Shared::Input
              @type='number'
              @placeholder='Amount'
              @value={{@order.count}}
              @onChange={{fn this.onPropertyChange 'count'}}
            />
          </div>
        </td>
        <td>
          <label for='username' class='col-sm-2 col-form-label'>
          </label>
          {{#if (should-display-column @company 'targets')}}
            <div class='col-sm-10'>
              <Shared::Input
                @type='text'
                @placeholder='Company'
                @value={{@order.targets}}
                @onChange={{fn this.onPropertyChange 'targets'}}
              />
            </div>
          {{/if}}
        </td>
        <td>
          <label for='username' class='col-sm-2 col-form-label'>
          </label>
          {{#if (should-display-column @company 'note')}}
            <div class='col-sm-10'>
              <Shared::Input
                @type='text'
                @placeholder='Note'
                @value={{@order.note}}
                @onChange={{fn this.onPropertyChange 'note'}}
              />
            </div>
          {{/if}}
        </td>
        <td>
          <label for='username' class='col-sm-2 col-form-label'>
          </label>
          <div class='col-sm-10'>
            <Shared::InputDisabled
              @type='text'
              @placeholder='Date'
              @value={{moment-format @order.invoiceDate 'DD-MM-YYYY'}}
              disabled
            />
          </div>
        </td>
      </tr>
    </tbody>

    <div class='d-flex'>
      <Shared::Buttons
        class='btn-primary w-50 me-1'
        disabled={{this.shouldDisabledButton}}
        @faIcon='check'
        @onClick={{this.onSave}}
      />
      <Shared::Buttons
        class='btn-primary w-50 me-1'
        @faIcon='xmark'
        @onClick={{this.onClose}}
      />
    </div>

  </div>
</ModalDialog>