<tbody>
  <tr>
    <td><PowerSelect
        @searchEnabled={{true}}
        @options={{this.articles}}
        @placeholder='Wybierz artykuł'
        @selected={{this.selected}}
        @searchField='name'
        @onChange={{set this 'selected'}}
        as |article|
      >
        {{article}}
      </PowerSelect></td>
    <td><input
        class='form-control'
        type='text'
        placeholder='Ilość'
        aria-label='default input example'
        value={{this.count}}
        {{on 'input' this.onCountChange}}
      /></td>
    <td><PowerSelectMultiple
        @searchEnabled={{true}}
        @options={{this.target}}
        @placeholder='Wybierz miejsce'
        @selected={{this.chosen}}
        @searchField='name'
        @onChange={{set this 'chosen'}}
        as |target|
      >
        {{target}}
      </PowerSelectMultiple></td>
    <td><button
        class='btn btn-primary'
        type='submit'
        id='form-control'
        disabled={{this.isEmptyField}}
        {{on 'click' this.onSave}}
      >Dodaj</button></td>
    <td><button
        type='button'
        class='btn btn-primary'
        {{on 'click' this.clear}}
      >Wyczyść</button></td>
  </tr>
</tbody>