<div>
  <tbody>
    <tr>
      <td>
        <PowerSelect
          @searchEnabled={{true}}
          @options={{this.articles}}
          @placeholder='Select article'
          @selected={{this.selectedArticle}}
          @searchField='name'
          @onChange={{this.onChangeArticle}}
          as |article|
        >
          {{article.name}}
        </PowerSelect>
      </td>
      <td>
        <PowerSelect
          @searchEnabled={{true}}
          @options={{this.count}}
          @placeholder='Select amount'
          @selected={{this.stockModel.count}}
          @searchField='name'
          @onChange={{set this.stockModel 'count'}}
          as |count|
        >
          {{count}}
        </PowerSelect>
      </td>
      <td>
        <PowerSelect
          @searchEnabled={{true}}
          @options={{this.unit}}
          @placeholder='Select unit'
          @selected={{this.stockModel.unit}}
          @searchField='name'
          @onChange={{set this.stockModel 'unit'}}
          as |unit|
        >
          {{unit}}
        </PowerSelect>
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td>
        <Shared::Input
          @type='number'
          @placeholder='Product price'
          @value={{this.stockModel.price}}
          @onChange={{fn this.onPropertyChange 'price'}}
        />
      </td>
      <td>
        <label>
          <PikadayInput
            class='form-control form'
            placeholder='Select a date'
            @format='DD-MM-YYYY'
            @value={{this.stockModel.invoiceDate}}
            @onSelection={{set this.stockModel 'invoiceDate'}}
          />
        </label>
      </td>
      <td>
        <Shared::Input
          @placeholder='No. invoices'
          @value={{this.stockModel.invoice}}
          @onChange={{fn this.onPropertyChange 'invoice'}}
        />
      </td>
    </tr>
  </tbody>
</div>

<div>
  <Shared::Buttons
    disabled={{this.stockModel.isEmptyField}}
    @variant='primary'
    @faIcon='plus'
    @label='Add'
    @onClick={{this.onSave}}
  />
  <Shared::Buttons
    @variant='primary'
    @faIcon='xmark'
    @label='Delete'
    @onClick={{this.clear}}
  />
</div>