<ModalDialog @translucentOverlay={{true}}>
  <div class='container'>
    <thead>
      <tr>
        <th scope='col'>Articles</th>
        <th scope='col'>Amount</th>
        <th scope='col'>Price/szt</th>
        <th scope='col'>Date of order</th>
        <th scope='col'>No. invoice</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          <div class='mb-3 row'>
            <label for='username' class='col-sm-2 col-form-label'></label>
            <div class='col-sm-10'>
              <Shared::InputDisabled
                @type='text'
                @placeholder='Article'
                @value={{@order.article}}
                disabled
              />
            </div>
          </div>
        </td>
        <td>
          <div class='mb-3 row'>
            <label for='username' class='col-sm-2 col-form-label'></label>
            <div class='col-sm-10'>
              <Shared::Input
                @type='number'
                @placeholder='Amount'
                @value={{@order.count}}
                @onChange={{fn this.onPropertyChange 'count'}}
              />
            </div>
          </div>
        </td>
        <td>
          <div class='mb-3 row'>
            <label for='username' class='col-sm-2 col-form-label'></label>
            <div class='col-sm-10'>
              <Shared::Input
                @type='number'
                @placeholder='Price'
                @value={{@order.price}}
                @onChange={{fn this.onPropertyChange 'price'}}
              />
            </div>
          </div>
        </td>
        <td>
          <div class='mb-3 row'>
            <label for='username' class='col-sm-2 col-form-label'></label>
            <div class='col-sm-10'>
              <Shared::InputDisabled
                @type='text'
                @placeholder='Date'
                @value={{moment-format @order.invoiceDate 'DD-MM-YYYY'}}
                disabled
              />
            </div>
          </div>
        </td>
        <td>
          <div class='mb-3 row'>
            <label for='username' class='col-sm-2 col-form-label'></label>
            <div class='col-sm-10'>
              <Shared::Input
                @type='text'
                @placeholder='No. invoice'
                @value={{@order.invoice}}
                @onChange={{fn this.onPropertyChange 'invoice'}}
              />
            </div>
          </div>
        </td>
      </tr>
    </tbody>

    <div class='mb-3 row'>
      <div class='d-flex'>
        <Shared::Buttons
          class='btn-primary w-50 me-1'
          disabled={{this.shouldDisabledButton}}
          @label='Save'
          @onClick={{this.onSave}}
        />
        <Shared::Buttons
          class='btn-primary w-50 me-1'
          @label='Cancel'
          @onClick={{this.onClose}}
        />
      </div>
    </div>
  </div>
</ModalDialog>