<table class='table table-striped container-fluid' id='show-table'>
  <thead>
    <tr>
      <th scope='col'>Firm</th>
      <th scope='col'>Articles</th>
      <th scope='col'>Amount</th>
      <th scope='col'>Place</th>
      <th scope='col'>Date of order</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.archivedOrders as |order|}}
      <tr>
        <td>{{order.company.name}}</td>
        <td>{{order.article}}</td>
        <td>{{order.count}} {{order.unit}}</td>
        <td>{{order.targets}}</td>
        <td>
          {{#if order.isOrdered}}
            {{moment-format order.createdDate 'DD-MM-YYYY'}}
          {{/if}}
        </td>
        <td>
          <Shared::Buttons
            @faIcon='trash-can'
            @onClick={{fn this.onDeleted order}}
          />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>