<table class='table table-striped container-fluid' id='show-table'>
  <thead>
    <tr>
      <th scope='col'>Firma</th>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Miejsce wydania</th>
      <th scope='col'>Note</th>
      <th scope='col'>Data zamówienia</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.archivedOrders as |order|}}
      <tr>
        <td>{{order.company.name}}</td>
        <td>{{order.article}}</td>
        <td>{{order.count}} {{order.unit}}</td>
        <td>{{order.targets}}</td>
        <td>{{order.note}}</td>
        <td>
          {{#if order.isOrdered}}
            {{moment-format order.createdDate 'DD-MM-YYYY'}}
          {{/if}}
        </td>
        <td>
          <button
            class='btn'
            type='button'
            {{on 'click' (fn this.onDeleted order)}}
          >
            <FaIcon @icon='trash-can' />
          </button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>