{{page-title 'Register'}}

<Header>Register</Header>

<FormGenerator @onSubmit={{this.onSubmit}} as |FG|>
  <FG.input
    @label='Username'
    @onChange={{fn this.onPropertyChange 'username'}}
  />
  <FG.input @label='Email' @onChange={{fn this.onPropertyChange 'email'}} />
  <FG.input
    @label='Password'
    @type='password'
    @onChange={{fn this.onPropertyChange 'password'}}
  />

  <FG.button @label='Register' @type='submit' />

  <FG.container>
    <span>Mam juz konto. </span><LinkTo @route='login'>Zaloguj się.</LinkTo>
  </FG.container>
</FormGenerator>

{{outlet}}