<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Miejsce</th>
      <th scope='col'>Note</th>
    </tr>
  </thead>
  <tbody>
    {{#each @selleo as |selleo|}}
      <tr>
        <td>{{selleo.articles}}</td>
        <td>{{selleo.count}}{{selleo.unit}}</td>
        <td>{{selleo.target}}</td>
        <td>{{selleo.note}}</td>

        <td><div class='input-group-sm'>
            {{! template-lint-disable no-action }}
            <button
              class='btn btn-primary'
              type='button'
              {{action 'onDeleted' selleo}}
            >Usuń</button>
          </div></td>
      </tr>
    {{/each}}
  </tbody>
</table>