<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Miejsce</th>
      <th scope='col'>Note</th>
    </tr>
  </thead>
  <tbody>
    {{#each @selleo as |selleo|}}
      <tr>
        <td>{{selleo.articles}}</td>
        <td>{{selleo.count}} {{selleo.unit}}</td>
        <td>{{selleo.target}}</td>
        <td>{{selleo.note}}</td>

        <div class='input-group-sm'>
          <td>
            <LinkTo @route='home.selleos.modal' @model={{selleo}}><button
                class='btn btn-primary'
                type='button'
              >Edytuj</button></LinkTo>
          </td>

          <td>
            {{! template-lint-disable no-action }}
            <button
              class='btn btn-primary'
              type='button'
              {{action 'onDeleted' selleo}}
            >Usuń</button>
          </td></div>
      </tr>
    {{/each}}
  </tbody>
</table>