<tbody>
  <tr>
    <td><PowerSelect
        @searchEnabled={{true}}
        @options={{this.articles}}
        @placeholder='Wybierz artykuł'
        @selected={{this.selected}}
        @searchField='name'
        @onChange={{set this 'selected'}}
        as |article|
      >
        {{article}}
      </PowerSelect></td>
    <td><PowerSelect
        @searchEnabled={{true}}
        @options={{this.count}}
        @placeholder='Wybierz ilość'
        @selected={{this.choose}}
        @searchField='name'
        @onChange={{set this 'choose'}}
        as |count|
      >
        {{count}}
      </PowerSelect></td>
    <td><PowerSelect
        @searchEnabled={{true}}
        @options={{this.unit}}
        @placeholder='Wybierz jednostkę'
        @selected={{this.piece}}
        @searchField='name'
        @onChange={{set this 'piece'}}
        as |unit|
      >
        {{unit}}
      </PowerSelect></td>

    <td><button
        class='btn btn-primary'
        type='submit'
        id='form-control'
        disabled={{this.isEmptyField}}
        {{on 'click' this.onSave}}
      >Dodaj</button></td>
    <td><button
        type='button'
        class='btn btn-primary'
        {{on 'click' this.clear}}
      >Wyczyść</button></td>
  </tr>
</tbody>