<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Data zamówienia</th>
    </tr>
  </thead>
  <tbody>
    {{#each @bluecrest as |order|}}
      <tr>
        <td>{{order.articles}}</td>
        <td>{{order.count}} {{order.unit}}</td>
        <td>{{order.ordered}}</td>

        <td><div class='form-check'>
            <input
              id='flexCheckDefault'
              class='form-check-input'
              type='checkbox'
              value=''
              checked={{order.ordered}}
              {{on 'click' (fn this.onChangeDate order)}}
            />
          </div></td>
        <div class='input-group-sm'>
          <td>
            <LinkTo @route='home.bluecrests.modal' @model={{order}}><button
                class='btn btn-primary'
                type='button'
              >Edytuj</button></LinkTo>
          </td>
          <td>
            <button
              class='btn btn-primary'
              type='button'
              {{on 'click' (fn this.onDeleted order)}}
            >Usuń</button>
          </td></div>
      </tr>
    {{/each}}
  </tbody>
</table>