<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Cena/szt</th>
      <th scope='col'>Data zamówienia</th>
    </tr>
  </thead>
  <tbody>
    {{#each @warehouse as |warehouse|}}
      <tr>
        <td>{{warehouse.articles}}</td>
        <td>{{warehouse.count}}{{warehouse.unit}}</td>
        <td>{{warehouse.price}} zł</td>
        <td>{{warehouse.date}}</td>
        <td><div class='input-group-sm'>
            {{! template-lint-disable no-action }}
            <button
              class='btn btn-primary'
              type='button'
              {{action 'onDeleted' warehouse}}
            >Usuń</button>
          </div></td>
      </tr>
    {{/each}}
  </tbody>
</table>