<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Articles</th>
      <th scope='col'>Amount</th>
      <th scope='col'>Price/szt</th>
      <th scope='col'>Date of order</th>
      <th scope='col'>No. invoices</th>
    </tr>
  </thead>
  <tbody>
    {{#each @warehouseOrders as |order|}}
      <tr>
        <td>{{order.article}}</td>
        <td>{{order.count}} {{order.unit}}</td>
        <td>{{order.price}} zł</td>
        <td>{{moment-format order.invoiceDate 'DD-MM-YYYY'}}</td>
        <td>{{order.invoice}}</td>

        <div class='input-group-sm'>
          <td>
            <Shared::Buttons
              class='btn-primary'
              @faIcon='pen-to-square'
              @onClick={{fn this.onShowModal order}}
            />
          </td>
          <td>
            <Shared::Buttons
              class='btn-primary'
              @faIcon='trash-can'
              @onClick={{fn this.onDeleted order}}
            />
          </td>
        </div>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.isShowModal}}
  <Table::Warehouse::ShowTable::Modal
    @order={{this.selectedOrderToEdit}}
    @onClose={{this.onHideModal}}
  />
{{/if}}