<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Cena/szt</th>
      <th scope='col'>Data zamówienia</th>
      <th scope='col'>Nr. faktury</th>
    </tr>
  </thead>
  <tbody>
    {{#each @warehouseOrders as |order|}}
      <tr>
        <td>{{order.article}}</td>
        <td>{{order.count}} {{order.unit}}</td>
        <td>{{order.price}} zł</td>
        <td>{{moment-format order.invoiceDate 'DD-MM-YYYY'}}</td>
        <td>{{order.invoice}}</td>

        <div class='input-group-sm'>
          <td>
            <button
              class='btn btn-primary'
              type='button'
              {{on 'click' (fn this.onShowModal order)}}
            >
              <FaIcon @icon='pen-to-square' />
            </button>
          </td>

          <td>
            <button
              class='btn btn-primary'
              type='button'
              {{on 'click' (fn this.onDeleted order)}}
            >
              <FaIcon @icon='trash-can' />
            </button>
          </td>
        </div>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if this.isShowModal}}
  <Table::Warehouse::ShowTable::Modal
    @order={{this.selectedOrderToEdit}}
    @onClose={{this.onHideModal}}
  />
{{/if}}