<div class='table-form'>
  <tbody>
    <tr>
      <td>
        <Shared::PowerSelect
          @placeholder='Select article'
          @options={{this.articles}}
          @selected={{this.selectedArticle}}
          @onChange={{this.onChangeArticle}}
          as |value|
        >
          {{value.name}}
        </Shared::PowerSelect>
      </td>

      <td>
        <Shared::PowerSelect
          @placeholder='Select amount'
          @options={{this.count}}
          @selected={{this.ordersModel.count}}
          @onChange={{set this.ordersModel 'count'}}
          as |value|
        >
          {{value}}
        </Shared::PowerSelect>
      </td>

      <td>
        <Shared::PowerSelect
          @placeholder='Select amount'
          @options={{this.unit}}
          @selected={{this.ordersModel.unit}}
          @onChange={{set this.ordersModel 'unit'}}
          as |value|
        >
          {{value}}
        </Shared::PowerSelect>
      </td>
      <td>
        {{#if (should-display-column @company 'targets')}}
          <Shared::PowerSelectMultiple
            @placeholder='Select company'
            @options={{this.targets}}
            @selected={{this.ordersModel.targets}}
            @onChange={{set this.ordersModel 'targets'}}
            as |value|
          >
            {{value}}
          </Shared::PowerSelectMultiple>

        {{/if}}
      </td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>
        {{#if (should-display-column @company 'note')}}
          <Shared::Input
            @placeholder='Note'
            @value={{this.ordersModel.note}}
            @onChange={{fn this.onPropertyChange 'note'}}
          />
        {{/if}}
      </td>

      <td>
        <Shared::Button
          disabled={{this.ordersModel.isEmptyField}}
          @faIcon='plus'
          @onClick={{this.onSave}}
        />
        <Shared::Button @faIcon='xmark' @onClick={{this.clear}} />
      </td>
    </tr>
  </tbody>
</div>