<table class='table table-striped'>
  <thead>
    <tr>
      <th scope='col'>Artykuły</th>
      <th scope='col'>Ilość</th>
      <th scope='col'>Miejsce</th>
      <th scope='col'>Note</th>
    </tr>
  </thead>
  <tbody>
    {{#each @tables as |table|}}
      <tr>
        <td>{{table.articles}}</td>
        <td>{{table.count}} {{table.unit}}</td>
        <td>{{table.target}}</td>
        <td>{{table.note}}</td>

        <div class='input-group-sm'>
          <td>
            <LinkTo @route='home.firms.modal' @model={{table}}><button
                class='btn btn-primary'
                type='button'
              >Edytuj</button></LinkTo>
          </td>
          <td>
            {{! template-lint-disable no-action }}
            <button
              class='btn btn-primary'
              type='button'
              {{action 'onDeleted' table}}
            >Usuń</button>
          </td></div>
      </tr>
    {{/each}}
  </tbody>
</table>